body{ 
  background: url('C:/Users/chandan/Desktop/HT/images/airlift4.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img{
	border:5px solid black;
}

h1{
	color:purple
}
